#newsletter {
  width: 100%;
  padding: 3rem;
  transition: all 0.3s;
  text-align: center;
  position: relative;
  margin-bottom: var(--section-space);

  @media only screen and (min-width: 777px) {
    padding: 9rem;
  }

  .title {
    font-weight: 500;
    font-size: 3.6rem;
    color: white;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input,
    button {
      height: 5.4rem;
    }

    input {
      color: white;
      outline: none;
      border-radius: 0.6rem;
      border: none;
      background-color: rgba(255, 255, 255, 0.22);
      padding: 1.5rem;
      width: 100%;
      margin-bottom: 1.8rem;
      transition: all 0.3s;
      font-size: 2.1rem;
      display: inline-block;
      margin-right: 0.9rem;
      &::placeholder {
        color: white;
      }

      @media only screen and (min-width: 777px) {
        width: 47.1rem;
        margin-bottom: 0;
      }
    }

    button {
      font-size: 2.1rem;
      width: 10.5rem;
      white-space: nowrap;
      padding: 0;

      .load-spin {
        border-top-color: #7c93be;
      }
    }
  }

  .fun_messages {
    bottom: 5.1rem;
    position: absolute;
    left: 50%;
    width: 27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -13.5rem;

    button {
      border-radius: 50%;
      border: none;
      height: 2.1rem;
      width: 2.1rem;
      cursor: pointer;
    }
  }
}
