:root {
  --z-toast: 9;
  --z-nav-mobile: 8;
  --z-nav-marker: 7;
  --z-nav: 6;
  --z-carousel: 5;
  --z-banner-text: 4;
  --z-banner-mask: 3;
  --z-banner-wrapper: 2;
  --z-banner-flower: 1;

  --section-space: 5.4rem;

  --primary-color: rgb(81 161 216);

  --text-color: rgb(74, 64, 60);

  --font-family: "Quicksand", sans-serif;
  --font-family-serif: serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%; /* https://stackoverflow.com/questions/59920538 */
}

body,
textarea {
  font-size: 1.86rem;
  line-height: 1.369;
  color: var(--text-color);
  background-color: #f6f8f9;
  font-family: var(--font-family);
}

body * {
  box-sizing: border-box;
}

#ace-toast-wrapper {
  z-index: var(--z-toast);
}

.btn {
  font-size: 1.8rem;
  padding: 0.9rem 2.1rem;
  display: inline-block;
  border: none;
  outline: none;
  color: white;
  background-color: var(--primary-color);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s;
  &.lg {
    font-size: 2.1rem;
    padding: 1.5rem 4.5rem;
  }
  &.white {
    background-color: white;
    color: rgb(74, 64, 60);
  }
  &:hover {
    scale: 1.02;
  }
}

.bg {
  background-color: #6680AF;
  background-image: linear-gradient(to bottom right, #A1B4D5 0%, #6680AF 100%);
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand.ttf') format('truetype');
  font-weight: 100 900; /* Adjust according to the font's weights */
  font-style: normal;
}
