.ace-carousel {
  overflow: hidden;
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
  &.ace-carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .loops {
    display: flex;
    will-change: transform;
    animation: carousel-scroll-left var(--loop-duration) linear infinite;
    &:hover,
    &.pause {
      animation-play-state: paused;
    }
  }

  .loop {
    display: flex;
    white-space: normal;
  }
}

@keyframes carousel-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--loop-width)));
  }
}
