/**
 * 🧚‍♀️ How to access:
 *     - import '@ace/load.styles.css'
 */


.ace-load {
  /** customize */
  width: 2.1rem;
  height: 2.1rem;
  border-top: 0.3rem solid #FFF;
  border-right: 0.3rem solid transparent;
  animation: aceLoadRotation 1s linear infinite;
  /** customize */

  border-radius: 50%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.ace-load--two {
  /** customize */
  width: 2.1rem;
  height: 2.1rem;
  border-top: 0.3rem solid #FFF;
  border-right: 0.3rem solid transparent;
  animation: aceLoadRotation 1s linear infinite;
  /** customize */

  border-radius: 50%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  &::after {
    /** customize */
    width: 2.1rem;
    height: 2.1rem;
    border-bottom: 0.3rem solid #FF3D00;
    border-left: 0.3rem solid transparent;
    /** customize */

    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
}

@keyframes aceLoadRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
