.nav {
  position: fixed;
  z-index: var(--zindex-nav);
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 0.6rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;

  .menu {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.1rem solid transparent;
    background-color: transparent;
    transition: all 0.3s;
    &:hover {

      :global(.svg__menu) {
        color: var(--primary-color);
      }
    }

    @media only screen and (min-width: 1000px) {
      display: none;
    }
  }

  nav.mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: var(--zindex-nav-mobile);
    background-color: white;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    &.visible {
      height: 100vh;
      opacity: 1;
    }

    img {
      width: 27rem;
      margin-bottom: 1.2rem;
    }

    a {
      color: var(--text-color);
      text-decoration: none;
      font-size: 2.4rem;
      margin-bottom: 0.3rem;
      &:hover {
        color: var(--primary-color);
      }
    }

    .close {
      position: absolute;
      right: 0.6rem;
      top: 1.5rem;
      border: none;
      cursor: pointer;
      background-color: transparent;
      &:hover {
        :global(.svg__close) {
          color: var(--primary-color);
        }
      }

      :global(.svg__close) {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }

  nav.top {
    position: relative;

    @media only screen and (max-width: 1000px) {
      display: none;
    }

    a {
      position:relative;
      z-index: var(--zindex-nav);
      font-size: 2.1rem;
      font-family: "Quicksand", sans-serif;
      text-decoration: none;
      font-weight: 500;
      padding: 2.7rem 1.2rem;
      cursor: pointer;
      &.active {
        color: var(--primary-color);
      }
    }

    .underline {
      position: absolute;
      z-index: var(--zindex-nav-underline);
      bottom: -2.76rem;
      left: 0;
      width: 8.3rem;
      height: 0.9rem;
      border-radius: 2.1rem;
      background-color: var(--primary-color);
      transition: all 0.3s;
    }
  }
}